
body {
    background: #9c9c9c;
    font-family: "Lato", sans-serif;
  }

#title{
    color: hwb(0 0% 100%); 
    font-family: 'Droid serif', serif; 
    font-size: 36px; 
    font-weight: 600; 
    font-style: italic; 
    line-height: 44px; 
    margin: 0 0 12px; 
    text-align: left; 
}

/*.pdf{
    width: 95%;
    height: 700px;
    padding: 20px;
    box-sizing:border-box
  }*/